.Mobile--Menu {
  display: none;
}
@media screen and (max-width: 992px) {
  .Mobile--Menu {
    display: block;
    // position: absolute;
    background-color: var(--white);

    // top: 54px;
    // left: 0;
    width: 100vw;

    .Container {
      margin-top: 108px;
      .Mobile--btn {
        width: 90%;
        margin-top: 20px;
        margin-left: unset;
      }
    }
    .Line {
      height: 2px;
      width: 100%;
      background-color: var(--darkGray);
      margin: 20px 0;
    }
    .More {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 10px;
      width: 100%;
      color: var(--primary);

      .Mobile--more--btn {
        display: flex;
        margin: 10px 0 10px 0;
        align-content: center;
        align-items: center;
        border-bottom: 2px solid var(--darkGray);

        .Mobile--more--icon {
          height: 20px;
          width: 20px;
          margin: 5px;
        }
      }
    }
  }
}
