.Settings {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--gray);
}

.Settings-box {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 61px 65px 18px 65px;
  margin-top: 172px;
  margin-bottom: 357px;
  width: 672px;
  min-height: 376px;
  background-color: var(--main-gray);
  border-radius: 10px;

  .Theme-row {
    display: flex;
    align-items: center;
    .Setting-name {
      margin-left: 20px;
      color: var(--white-gray);
    }
  }

  .Switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .Switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .Slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white-gray);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .Slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .Slider {
    background-color: var(--background-gray);
  }

  input:focus + .Slider {
    box-shadow: 0 0 1px var(--background-gray);
  }

  input:checked + .Slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .Slider.Round {
    border-radius: 34px;
  }

  .Slider.Round:before {
    border-radius: 50%;
  }
}
